.window
    .burn

.space-shuttle  
    .orbiter
        .orbiter_window 
        .orbiter_wing.orbiter_wing--left
        .orbiter_wing.orbiter_wing--right
        .orbiter_fin.orbiter_fin--left
        .orbiter_fin.orbiter_fin--right
    .rocket
        .rocket_booster.rocket_booster--left
        .rocket_booster.rocket_booster--right